html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: Nunito;
}

a {
  color: #00bfff;
  margin-bottom: 5px;
}

.navbar {
  padding: 25px;

  .logo {
    width: 130px;
  }
}

.container {
  text-align: center;
  padding: 120px 20px;

  @media (max-width: 768px) {
    padding-top: 40px;
  }

  .illustration {
    width: 350px;
  }

  .header {
    margin: 15px 0;
    font-size: 52px;
    font-family: Poppins;
  }

  .desc {
    margin: 0 auto;
    padding: 0 15px;
    font-size: 18px;
    max-width: 600px;
  }

  .btnJoinDiscord {
    display: inline-block;
    margin: 20px 0;
    padding: 10px 15px;
    border-radius: 5px;
    background: #7289da;
    color: white;
    text-decoration: none;
    font-weight: bolder;

    i, span {
      vertical-align: middle;
    }

    i {
      margin-right: 5px;
    }
  }

  .socialsContainer {
    a {
      text-decoration: none;
      margin: 0 3px;
    }

    i {
      color: gray;
      font-size: 20px;
    }
  }
}
